.App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200vh;
  }
  
  .seperator {
    width: 100%;
  }
  
  .controls-wrapper {
    width: 300%;
  }
  
  .carousel-wrapper {
    width: 300%;
  }
  
  .rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 0px violet;
  }
  