/* * {
    box-sizing: content-box;
} */

.main-page {
  display: flex;
  align-items: center;
  justify-content: center
}

aside {
  float: left; 
  padding-right: 30px;
  padding-left: 30px;
}

.aside-h1 h1 {
  font-size: 30px;
}

.aside-h1 p {
  font-size: 20px;
}
.middle img {
    /* float: right; */
    width: auto;
    padding: 100px;
  }
  

